// Asset created by Aptugo
.Container img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.Container titulo {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.mainarea {
  background-image: url('https://img.freepik.com/foto-gratis/cerveza-barril-png-taza_53876-96732.jpg?w=740&t=st=1726785949~exp=1726786549~hmac=2e571e8d06084017d9635f67f4b915936144b37c353389a6d97c75ff05144773');
  width: 100%;
  height: 100%;
}
